In [4]:
str = input("Enter your state of origin:")

print ("Your state of origin is: ", str)
print ("The first character is: ",str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The string starting from 3rd character character is: ",str[2:])
print ("State of origin two times",str * 2)

Enter your state of origin: OGUN

Your state of origin is:  OGUN
The first character is:  O
The characters starting from 3rd to 5th are:  UN
The string starting from 3rd character character is:  UN
State of origin two times OGUNOGUN

In [6]:
name = "George"

name [1:5]

'eorg'

In [ ]:
word = "Computer Science"

word[-1]

# String formatting

In [8]:
name = "Ojo"
score = 79
grade = "A"

print(f"Name: {name}; Score: {score}; Grade:{grade}")

Name: Ojo; Score: 79; Grade:A

# String Concatenation

In [11]:
name = "Ojo"
score = 79
grade = "A"

output = "Name:" + name + "; Score:" + str(score) + "; Grade:" + grade
print(output)

TypeError: 'str' object is not callable

# Numeric data types

In [13]:
print("""
    1. Rice
    2. Beans
    3. Stew
    4. Plantain
""")

option = int(input("Enter your option: "))
type(option)

    1. Rice
    2. Beans
    3. Stew
    4. Plantain

Enter your option:  1

int

# Integer Operation

In [ ]:
# account_balance = 50
# amount = 5000000
# # account_balance = account_balance + amount
# account_balance += amount

# print(account_balance)



ps5_price = 900000
# account_balance = account_balance - ps5_price
# account_balance -= ps5_price

# print(account_balance)


account_balance *2

# List

In [15]:
fruits = ["Mango", "Orange",1, 2, True]

fruits.append("COS102")
fruits.append("apple")
print(fruits)

['Mango', 'Orange', 1, 2, True, 'COS102', 'apple']